{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Linnea &amp; Karls Bröllop - 29/7 2017</title>
	<meta name="description" content="Linnea &amp; Karls Bröllop - 29/7 2017"/>
	<meta name="keywords" content="" />
	<meta name="author" content="Karl Andersson"/>
	<!-- end: Meta -->

	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: Facebook Open Graph -->
	<meta property="og:title" content=""/>
	<meta property="og:description" content=""/>
	<meta property="og:type" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content=""/>
	<!-- end: Facebook Open Graph -->

    <!-- start: CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/slider1.css' %}" rel="stylesheet">
	<link href="{% static 'css/slider2.css' %}" rel="stylesheet">
	<link href="{% static 'css/slider3.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Serif">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Boogaloo">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Economica:700,400italic">
	<!-- end: CSS -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!--start: Header -->
	<header>

		<!--start: Container -->
		<div class="container">

			<!--start: Row -->
			<div class="row-fluid">

				<!--start: Navigation -->
				<div class="navigation">

					<div class="navbar navbar-fixed-top">
			    		<div class="navbar-inner">
			          		<a class="btn btn-navbar btnOverlay" data-toggle="collapse" data-target=".nav-collapse">
			            		menu
			          		</a>
			          		<div class="nav-collapse collapse">
			            		<ul class="nav">
									<li><a href="#" class="services">Hem</a></li>
									<li><a href="#" class="misc">Information</a></li>			            		
									<li><a href="#" class="hej">OSA</a></li>
									<li><a href="#" class="contact">Hitta</a></li>
			            		</ul>
			          		</div>
			        	</div>
			      	</div>


				</div>
				<!--end: Navigation -->

			</div>
			<!--end: Row -->

		</div>
		<!--end: Container-->

	</header>
	<!--end: Header-->
	{% if success %}
	<!-- start: 2nd Page - Services -->
	<div id="formsubm" class="color black transparent">

		<!--start: Container -->
		<div class="container">

			<!--start: Wrapper -->
			<div class="wrapper span12">
			<!-- start: Row -->
      		<div class="row-fluid">

        		<div class="span12">
        			<h3>Tack för din anmälan!</h3>
        		</div>

			</div>
			<!-- end: Row -->

			<div class="clearfix"></div>
			<hr class="clean">
			</div>
			<!-- end: Wrapper -->

		</div>
		<!--end: Container -->

	</div>

	{% endif %}
	<!-- start: 2nd Page - Services -->
	<div id="services" class="color blue">

		<!--start: Container -->
		<div class="container">

			<!--start: Wrapper -->
			<div class="wrapper span12">

							<!-- start: Page Title -->
			<div id="page-title">

				<div id="page-title-inner">

					<h2><span>Välkommen på Fest!</span></h2>

				</div>

			</div>
			<!-- end: Page Title -->

			<!-- start: Row -->
      		<div class="row-fluid">

        		<div class="span12">

					<p>
						Välkomna på vigsel mellan Karl Andersson och Linnea Ek Blom klockan 15:00 lördagen den 29:e juli 2017. Vigseln äger rum på Ekeby Loge utanför Tungelsta söder om Stockholm. Efter vigseln blir det middag och fest på samma plats fram till klockan 02:00. På den här webplatsen kommer all information om vigseln läggas upp och det är även här ni anmäler om ni kan komma eller ej. För övriga frågor kontakta oss på <a href="mailto:linneakarl2017@gmail.com" rel="tooltip">linneakarl2017@gmail.com</a>.
					</p>

        		</div>

			</div>
			<!-- end: Row -->

			<!-- start: Row -->
      		<div class="row-fluid">

        		<div class="span6">

					<p>
						På grund av avsaknad av kollektivtrafik till Ekeby Loge så kommer vi att hyra in bussar ni kan ta både till och från logen. Bussarna kommer preliminärt gå ifrån Gullmarsplan vid 14:00 och sen hem igen i tre avgångar vid 23:00, 00:30 och 02:00. Ange i er anmälan om ni vill åka buss och vilken buss som ni tror att ni kommer vilja ta. Detta så att vi kan göra en uppskattning  hur många bussar vi behöver och vid vilka tider de bör finnas på plats. Det är alltså helt OK att ändra sig och ta en senare/tidigare buss, ni har inte "anmält" er till en viss buss.<br/>
						Det finns också möjlighet att parkera bilen i anslutning till logen för er som vill det.
					</p>

        		</div>

				<div class="span6">

					<p>
						Barn är hjärtligt välkomna. Det kommer däremot inte anordnas barnpassning och vi vill uppmärksamma att det kommer vara fri tillgång till öl och vin under hela middagen och festen. Barn som kommer ska även de anmälas i formuläret nedan.
					</p>

        		</div>

			</div>
			<!-- end: Row -->

      		<!-- start: Row -->
      		<!--
      		<div class="row-fluid">

        		<div class="span4">
          			<div class="icons-box">
						<i class="fa-icon-beaker"></i>
						<h3>Mobile</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</p>
						<div class="clearfix"></div>
					</div>
        		</div>

        		<div class="span4">
          			<div class="icons-box">
						<i class="fa-icon-thumbs-up"></i>
						<h3>Web</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</p>
						<div class="clearfix"></div>
					</div>
        		</div>

        		<div class="span4">
          			<div class="icons-box">
						<i class="fa-icon-heart-empty"></i>
						<h3>Responsive</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</p>
						<div class="clearfix"></div>
					</div>
        		</div>

			</div>
			-->
			<!-- end: Row -->

			<div class="clearfix"></div>
			<hr class="clean">
			</div>
			<!-- end: Wrapper -->

		</div>
		<!--end: Container -->

	</div>
	<!-- end: 2nd Page - Services -->

<!-- start: 2nd Page - Services -->
	<div id="misc" class="color white">

		<!--start: Container -->
		<div class="container">

			<!--start: Wrapper -->
			<div class="wrapper span12">

							<!-- start: Page Title -->
			<div id="page-title">

				<div id="page-title-inner">


					<h2><span>Övrig information</span></h2>

				</div>

			</div>
			<!-- end: Page Title -->

			<!-- start: Row -->
      		<div class="row-fluid">

        		<div class="span6">
        	
        		
        			<h3>Boende</h3>

						<p>
							Då vigseln är 20 minuters bilfärd från Stockholm och vi kommer bistå med bussar så går det utmärkt att bo var som helst i Stockholmsområdet så länge det finns goda kommunikationsmedel till och från Gullmarsplan där bussarna avgår/ankommer.
						</p>
						<p>
							För er som vill bo nära Gullmarsplan så är ett av de närmsta hotellen <a href="https://www.nordicchoicehotels.se/clarion/clarion-hotel-stockholm/" rel="tooltip">Clarion Hotel Stockholm</a> vid Skanstull. 
						</p>
						<p>
							Gullmarsplan ligger på tunnelbanans gröna linje och där går även tvärbanan och bussar.
						</p>


        		</div>
        		<div class="span6">
        	
				<h3>Klädsel</h3>

					<p>
						Klädkod: Kavaj 
					</p>


					<p> 
					Om vädret tillåter kommer vigseln hållas utomhus på gräsmatta så det bör tänkas på om man är rädd om sina skor.
					</p>

        		</div>


			</div>
			<!-- end: Row -->

			<!-- start: Row -->
      		<div class="row-fluid">

				<div class="span6">

        			<h3>Önskelista</h3>

					<p>
						Det vi önskar mest av allt är att all vår släkt och alla våra vänner kan komma och fira vår bröllopsdag med oss! Lägg därför hellre pengarna på boende och resa än en present. Vill ni ändå överlämna en present tar vi tacksamt emot bidrag till vår bröllopsresa. Detta görs enklast till vårt gemensamma konto hos ICA-banken 9272-1010255. Något annat vi skulle uppskatta är en upplevelse eller något ni själva tycker är fint. Eventuella presenter kommer att öppnas i lugn och ro av brudparet dagen efter bröllopet.
					</p>


        		</div>

        		<div class="span6">

        			<h3>Tal</h3>
        			<p>
						Om ni önskar hålla tal eller spex på bröllopet kontakta våra toastmadames på <a href="mailto:toast.linneakarl2017@gmail.com" rel="tooltip"><u>mail</u></a> innan bröllopet.
					</p>
				</div>


			</div>
			<!-- end: Row -->



			<div class="clearfix"></div>
			<hr class="clean">
			</div>
			<!-- end: Wrapper -->

		</div>
		<!--end: Container -->

	</div>
	<!-- end: 2nd Page - Services -->
<!-- start: 2nd Page - Services -->
	<div id="hej" class="color blue">

		<!--start: Container -->
		<div class="container">

			<!--start: Wrapper -->
			<div class="wrapper span12">

							<!-- start: Page Title -->
			<div id="page-title">

				<div id="page-title-inner">

					<h2><span>Svara på inbjudan</span></h2>

				</div>

			</div>
			<!-- end: Page Title -->

			<!--start: Row -->
	    	<div class="row-fluid">

				<div class="span12">

					<!-- start: About Us -->
					<div id="story">
						<p>
							Här tackar ni ja eller nej till inbjudan. Om du anmäler flera personer, vänligen fyll i formuläret en gång för varje person. OSA 31:a Maj.
						</p>
					</div>
					<!-- end: About Us -->

				</div>

			</div>
			<!--end: Row -->

			<!-- start: Row -->
					<div id="contact-form">

						<form method="post" action=".">
							{% csrf_token %}
							{{ form.as_p }}
							{{ form.subject.errors }}
							<input tabindex="3" type="submit" value="Anmäl!" class="btn btn-succes btn-large" \>
						</form>

					</div>
			<!-- end: Row -->

			<div class="clearfix"></div>
			<hr class="clean">
			</div>
			<!-- end: Wrapper -->

		</div>
		<!--end: Container -->

	</div>
	<!-- end: 2nd Page - Services -->




	<!-- start: 7th Page - Contact -->
	<div id="mapBg"></div>
	<div id="contact" class="color blue transparent">

		<!--start: Container -->
		<div class="container">

			<!--start: Wrapper -->
			<div class="wrapper span12">



			<!-- start: Page Title -->
			<div id="page-title">

				<div id="page-title-inner">

						<h2><span>Hitta</span></h2>

				</div>

			</div>
			<!-- end: Page Title -->


			<hr class="clean">

			<!-- start: Row -->
			<div class="row-fluid">

				<!-- start: Vägbeskrivning -->
				<div class="span6">
					<div id="directions">
						<p>Om du tar bilen följ Nynäsvägen/väg 73 mot Söderbyvägen.</p>
						<p>Ta avfart Trafikplats Gryt från Nynäsvägen/väg 73</p>
						<p>Fortsätt på Söderbyvägen. Kör mot Ekeby så kommer du strax fram till Ekeby 14, 137 92 Tungelsta där Ekeby Loge ligger.</p>
					</div>
				</div>

				<div class="span6">

					<!-- starts: Google Maps -->
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
					<div id="googlemaps">
						<div id="map" class="google-map google-map-full"></div>
					</div>
					<script src="https://maps.google.com/maps/api/js?key=AIzaSyCMS9cmpZki5QYEFe-OhEK0RWhUH79XVNA&sensor=true"></script>
					<script src="{% static 'js/jquery.gmap.min.js' %}"></script>
					<script type="text/javascript">
						$('#map').gMap({
							controls: {
								panControl: false,
								zoomControl: false,
								mapTypeControl: false,
								scaleControl: false,
								streetViewControl: false,
								overviewMapControl: false
							},
							maptype: 'ROADMAP',
							scrollwheel: true,
							zoom: 8,
							markers: [
								{
									address: 'Ekeby 14, 137 92 Tungelsta', // Your Adress Here
									html: '',
									popup: false,
								}

							],

						});

						$('#mapBg').gMap({
							controls: {
								panControl: false,
								zoomControl: false,
								mapTypeControl: false,
								scaleControl: false,
								streetViewControl: false,
								overviewMapControl: false
							},
							maptype: 'ROADMAP',
							scrollwheel: true,
							zoom: 13,
							markers: [
								{
									address: 'Ekeby 14, 137 92 Tungelsta', // Your Adress Here
									html: '',
									popup: false,
								}

							],

						});

					</script>
					<!-- end: Google Maps -->

				</div>

			</div>
			<!-- end: Row -->

			</div>
			<!-- end: Wrapper -->

		</div>
		<!--end: Container -->

	</div>
	<!-- end: 7th Page - Contact -->



	<footer>

		<div id="copyright">
			essentia &copy; 2013 creativeLabs. <a href="https://bootstrapmaster.com" alt="Bootstrap Themes">Bootstrap Themes</a> Designed by BootstrapMaster in Poland <img src="{% static 'img/poland.png' %}" alt="Poland" style="margin-top:-4px">
		</div>
		<div id="social">
			<a href="https://facebook.com/BootstrapMaster" rel="tooltip" title="Facebook" class="facebook">Facebook</a>
			<a href="https://facebook.com/BootstrapMaster" rel="tooltip" title="Twitter" class="twitter">Twitter</a>
			<a href="https://BootstrapMaster.com/feed/" rel="tooltip" title="RSS" class="rss">RSS</a>
			<a href="#" rel="tooltip" title="Github" class="github">Github</a>
			<a href="#" rel="tooltip" title="LinkedIn" class="linkedin">LinkedIn</a>
			<a href="#" rel="tooltip" title="Pintrest" class="pintrest">Pintrest</a>
			<a href="#" rel="tooltip" title="Vimeo" class="vimeo">Vimeo</a>
			<a href="#" rel="tooltip" title="YouTube" class="youtube">YouTube</a>
		</div>

	</footer>

<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/isotope.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.imagesloaded.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flexslider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fancybox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/twitter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.custom.79639.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.ba-cond.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.slitslider.js' %}"></script>

<script type="text/javascript" src="{% static 'js/excanvas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flot.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flot.pie.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flot.stack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flot.resize.min.js' %}"></script>

<script defer="defer" src="{% static 'js/custom.js' %}"></script>
<script type="text/javascript">
	$(function() {

		var Page = (function() {

			var $navArrows = $( '#nav-arrows' ),
				$nav = $( '#nav-dots > span' ),
				slitslider = $( '#slider' ).slitslider( {
					onBeforeChange : function( slide, pos ) {

						$nav.removeClass( 'nav-dot-current' );
						$nav.eq( pos ).addClass( 'nav-dot-current' );

					}
				} ),

				init = function() {

					initEvents();

				},
				initEvents = function() {

					// add navigation events
					$navArrows.children( ':last' ).on( 'click', function() {

						slitslider.next();
						return false;

					} );

					$navArrows.children( ':first' ).on( 'click', function() {

						slitslider.previous();
						return false;

					} );

					$nav.each( function( i ) {

						$( this ).on( 'click', function( event ) {

							var $dot = $( this );

							if( !slitslider.isActive() ) {

								$nav.removeClass( 'nav-dot-current' );
								$dot.addClass( 'nav-dot-current' );

							}

							slitslider.jump( i + 1 );
							return false;

						} );

					} );

				};

				return { init : init };

		})();

		Page.init();

	});
</script>
<!-- end: Java Script -->

</body>
</html>
